body {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    letter-spacing: 2px;
    background-color: black;
    color: white;
}

.flashing {
    animation: flashing 2s infinite;
}

.flashing-fast {
    animation: flashing 0.5s infinite;
}

.flashing-bar {
    animation: flashingBar 1s infinite;
}

@keyframes flashing {
    0% {
        background-color: #000;
    }
    50% {
        background-color: #387ed2f2;
    }
}

@keyframes flashingBar {
    0% {
        background-color: #000;
    }
    50% {
        background-color: #387ed2f2;
    }
}

h1#headerNames {
    margin-top: 5%;
    margin-bottom: 5px;
    color: #fff;
    font-size: 75px;
    text-align: center;
    cursor: pointer;
}

.button {
    width: 150px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border: 3px solid #000;
    border-radius: 10px;
    color: #000;
    display: block;
    cursor: pointer;
}

#stopButton {
    background: #ff0000;
    display: none;
}

#overlay {
    height: 20px;
    margin: 20px auto;
    width: 60%;
    border: 1px solid white;
    background-color: white;
}

#timer {
    margin: 5px 0;
    color: white;
    font-size: 50px;
    text-align: center;
}

#fill {
    height: 20px;
    float: left;
    background-color: #000;

    max-width: 100%;
}

#lists {
    display: flex;
    text-align: center;
    margin-top: 40px;
}

#lists div:nth-child(1) {
    border-right: 1px solid white;
}

#lists ul {
    columns: 1; /* Default to one column */
}

@media (min-width: 600px) {
    #lists ul {
        columns: 2; /* Switch to two columns when viewport is at least 600px wide */
    }
}

#lists li {
    list-style: none;
    list-style-position: outside;
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 50px;
    }
}
